* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0px;
    left: 0px;
}

#gallery,
header {
    text-align: center;
}

#container-footer,
header {
    background-color: rgb(17, 16, 16);
    color: azure;
    padding: 2em;
}

#container-footer {
    display: flex;
    justify-content: space-between;
}

#container-gallery {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}

.card {
    height: 300px;
    width: 200px;
    margin: 2em;
    box-shadow: 5px 5px 15px gray;
    border-radius: 10px;
    background-color: transparent;
    transition: .5s;
}

.card:hover {
    background-color: gray;
    cursor: pointer;
    transition: .5s;
}

.card-img {
    background-image: url('../assets/project1.png');
    width: 100%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}